<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>jbdiah</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>de.jbdiah.util.JbdiahServletContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>DATA_PATH</param-name>
    <param-value>/var/jbdiah</param-value>
  </context-param>
  <servlet>
    <display-name>LoginControllerServlet</display-name>
    <servlet-name>LoginControllerServlet</servlet-name>
    <servlet-class>de.jbdiah.controller.LoginControllerServlet</servlet-class>
    <init-param>
      <param-name>SERVER_SECRET</param-name>
      <param-value>insert-?5up3R_5553ckR1T_S/-#Lt!!-here</param-value>
    </init-param>
    <init-param>
      <param-name>DATA_PATH</param-name>
      <param-value>/var/jbdiah</param-value>
    </init-param>
  </servlet>
  <servlet>
    <display-name>DataRequestControllerServlet</display-name>
    <servlet-name>DataRequestControllerServlet</servlet-name>
    <servlet-class>de.jbdiah.controller.DataRequestControllerServlet</servlet-class>
    <init-param>
      <param-name>DATA_PATH</param-name>
      <param-value>/var/jbdiah</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ShowView</servlet-name>
    <jsp-file>/incoming.jsp</jsp-file>
  </servlet>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>de.jbdiah.filter.AuthFilter</filter-class>
    <init-param>
      <param-name>SERVER_SECRET</param-name>
      <param-value>insert-?5up3R_5553ckR1T_S/-#Lt!!-here</param-value>
    </init-param>
  </filter>
  <servlet-mapping>
    <servlet-name>LoginControllerServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowView</servlet-name>
    <url-pattern>/incoming</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataRequestControllerServlet</servlet-name>
    <url-pattern>/post/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataRequestControllerServlet</servlet-name>
    <url-pattern>/convert</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>DataRequestControllerServlet</servlet-name>
    <url-pattern>/retrieve</url-pattern>
  </servlet-mapping>    
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <servlet-name>ShowView</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <servlet-name>DataRequestControllerServlet</servlet-name>
  </filter-mapping>
</web-app>